# EXAMPLE .ENV DONT ADD YOUR KEYS HERE

# Database
POSTGRES_DSN=postgresql://user:password@postgres:5432/drift_db

# Redis Queue
REDIS_URL=redis://redis:6379

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000

# Agent
AGENT_WEBHOOK_URL=http://agent:8001/webhook/drift
ANTHROPIC_API_KEY=your_anthropic_api_key_here